<div class="form__capa">

    <h2 class="form__heading">Autenticación en dos pasos</h2>
    <form class="form">
    <!-- Code -->
    <div class="form__campo">
        <label for="code">Código:</label>
        <input type="text" name="code" id="code" placeholder="Ej. 123456" [formControl]="code">
        <app-error-field [control]="code!" fieldName="código"></app-error-field>
    </div>
    
    <!-- Btn -->
    <div class="btns">
        <div class="form__campo">
            <button type="button" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="form__campo form__campo-2">
            <button type="button" (click)="onSubmit()">Iniciar Sesión</button>
        </div>
    </div>
</form>

@if(authService.authStatus()==='invalid-code'){

<div class="form__campo nw-code">
    <button type="button" (click)="generateNewCode2FA()">Generar Otro Código</button>
</div>

}
</div>