<div class="form__capa">
    @if (code) {
    <h2 class="form__heading">Editar Producto</h2>
    }@else {
    <h2 class="form__heading">Registra un Nuevo Producto</h2>
    }
    <form class="form" [formGroup]="newProductForm">
        <div class="fullname">
            <!-- Nombre -->
            <div class="form__campo">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto" formControlName="nombre">
                <app-error-field [control]="getFormControl('nombre')!" fieldName="nombre"></app-error-field>
            </div>

            <!-- Descrip -->
            <div class="form__campo">
                <label for="descrip">Descripción:</label>
                <input type="text" name="descrip" id="descrip" placeholder="Descripción del producto"
                    formControlName="descrip">
                <app-error-field [control]="getFormControl('descrip')!" fieldName="descripción"></app-error-field>
            </div>
        </div>

        <div class="">
            <!-- Categoría -->
            <div class="form__campo">
                <label for="categoria">Categoría:</label>
                <select name="categoria" id="categoria" formControlName="categoria">
                    <option selection value="" [defaultSelected]="true">--Seleccionar Categoría--</option>
                    @for (item of categories; track $index) {
                    <option selection [value]="item">{{item}}</option>
                    }
                </select>
                <app-error-field [control]="getFormControl('categoria')!" fieldName="categoría"></app-error-field>
            </div>
    
            <!-- Unidad -->
            <div class="form__campo">
                <label for="unidad">Unidad de Medida:</label>
                <select name="unidad" id="unidad" formControlName="unidad">
                    <option selection value="" [defaultSelected]="true">--Seleccionar Unidad--</option>
                    @for (item of unidad; track $index) {
                    <option selection [value]="item">{{item}}</option>
                    }
                </select>
                <app-error-field [control]="getFormControl('unidad')!" fieldName="unidad"></app-error-field>
            </div>
        </div>

        <!-- Stock minimo -->
         <div class="">
             <div class="form__campo">
                 <label for="stock_minimo">Stock Mínimo:</label>
                 <input type="text" name="stock_minimo" id="stock_minimo" placeholder="Ej. 10"
                     formControlName="stock_minimo">
                 <app-error-field [control]="getFormControl('stock_minimo')!" fieldName="stock mínimo"></app-error-field>
             </div>
     
             @if(!code){
             <!-- proveedor -->
             <div class="form__campo">
                 <label for="telf">Proveedor:</label>
                 <input type="text" name="id_proveedor" id="id_proveedor" formControlName="id_proveedor">
                 <app-error-field [control]="getFormControl('id_proveedor')!" fieldName="proveedor"></app-error-field>
             </div>
             }
         </div>

        @if(code){
        <!-- Btn -->
        <div class="form__campo">
            <button type="button" class="btn-1 btn-2" (click)="onEdit()">Guardar</button>
        </div>
        }@else {
        <!-- Btn -->
        <div class="form__campo">
            <button type="button" class="btn-1 btn-2" (click)="onSubmit()">Registrar</button>
        </div>
        }


    </form>
</div>