.form__heading {
    padding-top: 4rem;
}

.form__capa {
    width: 90%;
    margin: 0 auto;
}

@media(min-width:768px) {
    .form__capa {
        width: 50%;
    }

    .selects {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}