<div class="form__capa">

    <h2 class="form__heading">Confirma tu cuenta</h2>
    <form class="form">
        <!-- Code -->
        <div class="form__campo">
            <label for="code">Código:</label>
            <input type="text" name="code" id="code" placeholder="Ej. 123456" [formControl]="code">
            <app-error-field [control]="code!" fieldName="código"></app-error-field>
        </div>
        <!-- Btn -->
        <div class="btns">
            <div class="form__campo">
                <button type="button" class="btn-1" (click)="onSubmit()">Confirmar Cuenta</button>
            </div>
        </div>


    </form>
    @if(authService.authStatus()==='invalid-code'){
    <form class="form">
        <!-- email -->
        <div style="background-color: rgba(240, 248, 255, 0.185); padding-top: .5rem;">
            <div class="form__campo">
                <label for="email">Correo:</label>
                <input type="email" name="email" id="email" placeholder="Ej. email123@email.com" [formControl]="email">
                <app-error-field [control]="email!" fieldName="correo"></app-error-field>
            </div>

            <div class="form__campo ">
                <button type="button" class="btn-1 btn-2" (click)="generateNewCode2FA()">Generar Otro Código</button>
            </div>
        </div>
    </form>
    }
</div>