<div class="form__capa">
    <h2 class="form__heading">Nueva Contraseña</h2>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- Pass -->
        <div class="form__campo">
            <label for="pass">Contraseña:</label>
            <input type="password" name="pass" id="pass" placeholder="********" formControlName="pass">
            <app-error-field [control]="pass!" fieldName="contraseña"></app-error-field>
        </div>

        <!-- Rp Pass -->
        <div class="form__campo">
            <label for="confirmPass">Confirmar contraseña:</label>
            <input type="password" name="confirmPass" id="confirmPass" placeholder="********"
                formControlName="confirmPass">
            <app-error-field [control]="confirmPass!" fieldName="confirmar contraseña"></app-error-field>
        </div>
        <!-- code -->
        <div class="form__campo">
            <label for="code">Código:</label>
            <input type="text" name="code" id="code" placeholder="1234567890" formControlName="code">
            <app-error-field [control]="code!" fieldName="código"></app-error-field>
        </div>


        <!-- Btn -->
         <div class="btns">
             <div class="form__campo form__campo-2">
                 <button type="button" (click)="onCancel()">Cancelar</button>
             </div>
             <div class="form__campo">
                 <button type="submit">Guardar</button>
             </div>
         </div>
    </form>
</div>