.bar-bg {
    /* background-color: #ffffff23; */
    color: var(--secondary);
    background-color: var(--primary);
    padding-block: 2rem;
}

.bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 1rem;
    padding-inline: 3rem;
    width: 90rem;
    max-width: 90%;
    margin: 0 auto;

}

@media (min-width:768px) {
    .bar {
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        justify-content: center;
        /* padding: 3rem 6rem; */
    }
}

.logo-cont .logo {
    font-size: 2rem;
    cursor: pointer;
}

.logo-cont .logo span {
    font-weight: 800;
}

.nav,
.session {
    display: none;
}

@media (min-width:768px) {

    .nav,
    .session {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.nav__link p {
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    font-weight: 700;
}

.nav__link p:hover {
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;
}

.active {
    background-color: var(--secondary);
    color: var(--primary);
}

@media (min-width:768px) {
    .burguer {
        display: none;
    }
}