    <h2 class="form__heading">Iniciar Sesión</h2>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="form__campo">
            <label for="email">Correo:</label>
            <input type="text" name="email" id="email" placeholder="ejemplo@email.com" formControlName="email">
            <app-error-field [control]="email!" fieldName="correo"></app-error-field>
        </div>

        <!-- Pass -->
        <div class="form__campo">
            <label for="pass">Contraseña:</label>
            <input type="password" name="pass" id="pass" placeholder="********" formControlName="pass">
            <app-error-field [control]="pass!" fieldName="contraseña"></app-error-field>
        </div>

        <!-- Btn -->
        <div class="form__campo">
            <button type="submit">Iniciar Sesión</button>
        </div>

        <div class="form__campo">
            <p><a href="">¿Has olvidado tu contraseña?</a></p>
        </div>
    </form>