.bg {
    background-image: linear-gradient(to right, rgb(0 0 0 /.7), rgb(0 0 0 /.7)), url(/bg-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 100dvh;
    position: relative;
}

@media(min-width:768px) {
    .bg {
        background-image: none;
    }
}

.cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

@media(min-width:768px) {
    .cont {
        flex-direction: row;
    }
}

.welcome-text {
    display: none;
}

.welcome-text p {
    font-size: 2.5rem;
    text-align: left;
}

.welcome-text h2 {
    font-size: 5rem;
    padding-block-end: 1.6rem;
    text-align: center;
    font-weight: bold;
    word-break: break-word;
}



@media(min-width:768px) {
    .welcome-text {
        display: flex;
        width: 60%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 5%;
        padding-right: 20%;
        clip-path: polygon(0% 0%,
                100% 0%,
                /* Esquina superior derecha normal */
                70% 100%,
                /* Esquina inferior derecha desplazada 5% */
                0% 100%
                /* Esquina inferior izquierda normal */
            );

        background-image: linear-gradient(to right, rgb(0 0 0 /.7), rgb(0 0 0 /.7)), url(/bg-login.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 100dvh;
    }
}

@media (min-width:768px) {

    .wf {
        width: 40%;
        padding-right: 5%;

    }
}