<div class="bg">

    <div class="product-heading ">
        <h2>Productos</h2>

        <div>
            <button id="nwP" class="btn-1 btn-2" (click)="onRedirect('/product/new-product')">Agregar Producto</button>
            <button id="nwP" class="btn-1 btn-2" (click)="onReport()">Generar Reporte</button>
        </div>

        <div class="filters">
            <form [formGroup]="myForm" class="form" (submit)="onFilter()">
                <div class="form__campo">
                    <label for="nombre">Nombre</label>
                    <input type="text" placeholder="Nombre del producto" formControlName="nombre">
                </div>
                <div class="form__campo">
                    <label for="categoria">Categoria</label>
                    <select name="categoria" id="categoria" formControlName="categoria">
                        <option selection value="" [defaultSelected]="true">--Seleccionar Categoría--</option>
                        @for (item of categories; track $index) {
                        <option selection [value]="item">{{item}}</option>
                        }
                    </select>
                </div>
                <div class="form__campo">
                    <label for="proveedor">Proveedor</label>
                    <select name="categoria" id="categoria" formControlName="proveedor">
                        <option selection value="" [defaultSelected]="true">--Seleccionar Categoría--</option>
                        @for (item of supplierService.proveedores(); track $index) {
                        <option selection [value]="item.id_proveedor">{{item.nombre}}</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn-1 btn-2">Buscar</button>
            </form>
        </div>
    </div>

    @if(productService.products()?.length!>0){
    <div class="table-grid">
        <div class="table-hd">
            <p>Nombre</p>
        </div>
        <div class="table-hd">
            <p>Código</p>
        </div>
        <div class="table-hd">
            <p>Descripción</p>
        </div>
        <div class="table-hd">
            <p>Categoría</p>
        </div>
        <div class="table-hd">
            <p>Unidad</p>
        </div>
        <div class="table-hd">
            <p>Stock</p>
        </div>
        <div class="table-hd">
            <p>Proveedor</p>
        </div>
        <div class="table-hd">
            <p>Acciones</p>
        </div>
        <div class="table-hd">
            <p>Movimientos</p>
        </div>

        @for (product of productService.products(); track $index) {
        <div class="table-dt">
            <p>{{product.nombre}}</p>
        </div>
        <div class="table-dt">
            <p>{{product.codigo}}</p>
        </div>
        <div class="table-dt">
            <p>{{product.descrip}}</p>
        </div>

        <div class="table-dt">
            <p>{{product.categoria}}</p>
        </div>
        <div class="table-dt">
            <p>{{product.unidad}}</p>
        </div>
        <div class="table-dt">
            <p>Min:{{product.stock_minimo}} Actual:{{product.stock_actual}}</p>
        </div>
        <div class="table-dt">
            <p>{{product.proveedor?.nombre}}</p>
        </div>
        <div class="table-dt table-actions">
            <!-- Delete -->
            <button class="delete" (click)="onDelete(product.codigo!)" title="Eliminar">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
            </button>
            <!-- Edit -->
            <button class="edit" (click)="onEdit('/product/edit',product.codigo)" title="Editar">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
            </button>
        </div>

        <div class="table-dt table-actions">
            <!-- Moves -->
            <!-- Add -->
            <button class="add" (click)="onEntry('/movement/new-entry/',product.codigo,'entrada')" title="Agregar">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>

            </button>
            <!-- Sell -->
            <button class="sell" title="Venta" (click)="onEntry('/movement/new-entry/',product.codigo,'salida')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
            </button>
        </div>
        }

    </div>

    <!-- mobil -->
    <div class="cards-movil">
        @for (product of productService.products(); track $index) {
        <div class="card">
            <div class="data">
                <div class="first-data">
                    <div class="item">
                        <p><span>{{product.nombre}}</span></p>
                    </div>
                </div>

                <div class="second-data">
                    <div class="item">
                        <p><span>Categoría:</span> {{product.categoria}}</p>
                    </div>
                    <div class="item">
                        <p><span>Unidad:</span> {{product.unidad}}</p>
                    </div>
                </div>

                <div class="third-data">

                    <div class="item">
                        <p><span>Stock:</span> Min:{{product.stock_minimo}} Actual:{{product.stock_actual}}</p>
                    </div>
                    <div class="item">
                        <p><span>Código:</span> {{product.codigo}}</p>
                    </div>
                    <div class="item">
                        <p><span>Proveedor:</span> {{product.proveedor?.nombre}}</p>
                    </div>
                </div>
            </div>

            <div class="actions">
                <button class="more" type="button" (click)="productService.onShowMenu(product)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                    </svg>

                </button>
                @if (product.showMenu) {
                <div class="card-actions">
                    <button class="delete" (click)="onDelete(product.codigo!)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                        <p>Eliminar</p>
                    </button>
                    <button class="edit" (click)="onEdit('/product/edit',product.codigo)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                        <p>Editar</p>
                    </button>

                    <!-- Add -->
                    <button class="add" (click)="onEntry('/movement/new-entry/',product.codigo,'entrada')"
                        title="Agregar">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <p>Entrada</p>
                    </button>
                    <!-- Sell -->
                    <button class="sell" (click)="onEntry('/movement/new-entry/',product.codigo,'entrada')"
                        title="Venta">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                        </svg>
                        <p>Salida</p>
                    </button>

                </div>
                }
            </div>
        </div>
        }
    </div>
    <div class="pagination">
        <button (click)="backPage()" [disabled]="!productService.metadata()!.hasPrevPage">
        </button>
        <div class="pages">
            @for (item of arrPages(); track $index) {
            <button [ngClass]="{'current':currentPage().toString()===item.toString()}" (click)="onFilter(item)"
                [id]="$index">{{item.toString()}}</button>
            }
        </div>
        <button (click)="prevPage()" [disabled]="!productService.metadata()!.hasNextPage">></button>
        <select name="quantity" id="quantity" [formControl]="limit" (change)="onFilter()">
            @for (item of quantity; track $index) {
            <option [value]="item">{{item}}</option>
            }
        </select>
    </div>
    }




</div>

<button (click)="onRedirect('/product/new-product')" type="button" class="btn-add">+</button>