h2 {
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.table {
    width: 100%;
    border-radius: .5rem;
}

.table__head {
    background-color: var(--blue);
}


.table__tr .th {
    padding-block: 1rem;
    word-break: break-all;

}

.tbody .tr {
    text-align: center;
}

.tbody .tr td{
    padding-block: .5rem;
    word-break: break-all;
}

/* 
:nth-child(odd) → selecciona los elementos en posiciones impares (1, 3, 5…)

:nth-child(even) → selecciona los elementos en posiciones pares (2, 4, 6…)
*/
.tbody .tr:nth-child(even) {
    background-color: var(--blue);
}