.product-heading {
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.table {
    width: 100%;
    border-radius: .5rem;
}

.table__head {
    background-color: var(--blue);
}


.table__tr .th {
    padding-block: 1rem;
    word-break: break-all;

}

.tbody .tr {
    text-align: center;
}

.tbody .tr td {
    padding-block: .5rem;
    word-break: break-all;
}

/* 
:nth-child(odd) → selecciona los elementos en posiciones impares (1, 3, 5…)

:nth-child(even) → selecciona los elementos en posiciones pares (2, 4, 6…)
*/
.tbody .tr:nth-child(even) {
    background-color: var(--blue);
    color: var(--primary);
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

@media (min-width:768px) {
    .actions {
        flex-direction: row;
        justify-content: space-around;
    }

    .actions button {
        width: 45%;
    }
}

@media (min-width:1020px) {
    .actions button {
        width: 40%;
    }
}


.actions button:hover {
    transform: scale(1.2);
}

.delete {
    color: var(--red);
}

.edit {
    color: var(--green);
}